canvas#canvas.canvas
img#spriteKnight.noShow("src"="/html/public/img/sprite-knight.png")
img#spriteAxe.noShow("src"="/html/public/img/sprite-axe.png")
img#spriteArrow.noShow("src"="/html/public/img/sprite-arrow.png")
