doctype html
html(lang="en")
  head
    title Testing
    link(href='/html/public/css/main.css', rel='stylesheet')
  body
  div#header
    h1 Bartuken's Lab
  div#content
    |!{ html }
  div#footer

  script(type='text/javascript',src='/socket.io/socket.io.js')
  script(type='text/javascript',src='/html/public/scripts/main.js')
